@media (max-width:760px) {
    img {
        max-width: 200px;
        max-height: 200px;
    }
}  

   .plane { 

            display: flex; 
            position: relative; 
            top:-25em;
            left: -16em;
            animation-name: animation; 
            animation-duration: 5s; 
            animation-fill-mode: both; 
            transform: rotate(0deg);
/*                border: 3px solid red;   */
        } 
       
  

                .main{
                position: absolute;
                background-size:1vh;
                background-repeat: no-repeat;
                width: 50%;
                margin: auto;
                display: grid;
                place-items: center;
                width: 92vw;

                }



@media (max-width:760px) {
    .plane {
        top: -9.9em;
        left: -5.3em;
    }
}  
@keyframes animation { 
0%   {left: -50em; top: 0em;
transform: scale(1) rotate(45deg);}
100%  {left: 25.9em top: 10em;}

}
        } 
